@import '../../styles/variables';
.homepage-hero{
    color-scheme: light only;
    color: black;
    
    .banner-info-card{

        &__item{
            background: $primary-color;
            color: #fff;
            margin: 30px 30px 30px 0px;
            padding: 20px 40px;
            border-radius: 20px;
            border: 2px solid  $primary-color;
            @media screen and (max-width:767px) {
                margin: 10px 30px 10px 0px;
            }
        }
        &__item:hover{
            background-color: transparent;
            border: 2px solid  $primary-color;
            color: $primary-color;
        }
    }

    .banner-info-contact{
        &__item{
            font-size: 1.2rem;
            font-weight: 700;
            margin-right: 30px;
            gap: 10px;
        }
    }

}