@import '../../styles/variables';

.homepage-hero {
    color-scheme: light only;
    color: black;

    .banner-info-card {
        &__item {
            background: $primary-color;
            color: #fff;
            margin: 0; // Removed large fixed margins for better responsiveness
            border-radius: 20px;
            border: 2px solid $primary-color;
            transition: all 0.3s ease-in-out;
            
            &:hover {
                background-color: transparent;
                border: 2px solid $primary-color;
                color: $primary-color;
            }
        }
    }
}
