
$primary-color:#ef7833;
$secondary-color:#3bb273;
$grey-bg-color:#565857;
$light-bg-color:#F1FCF8;
$dark-bg-color:#27187E;

$red-color:#e15554;
$yellow-color: #FFCC01;

$light-purple-color:#F4F2FC;
$light-blue-color: #ECFCFF;

//004aad-3bb273-e15554-F1FCF8