.course-banner{
    background: linear-gradient(45deg, #FF5600, #FFB900);
    padding: 50px;
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}