form{
    background-color: rgba(81, 141, 141, 0.412);
    div{

        input ,Select{
            background-color: rgba(81, 141, 141, 0.412);
            color: gray;
            font-size: larger;
            font-weight: 600;
        }
        .PhoneInputInput{
         border-radius: 5px;
        }
    }
}
