form{
    background-color: white;
    div{

        input ,Select{
            background-color:grey;
            color:gray;
            font-size: larger;
            font-weight: 600;
        }
        .PhoneInputInput{
         border-radius: 5px;
         color:black;
         
        }
    }

}
