@import '../../styles/variables';

.project-card{
    background-color:$light-bg-color;
    border-radius: 10px;

    &__title{
        font-size:1.2rem;
        font-weight: 700;
        color:$secondary-color;
    }
    &__sub-title{
        font-weight: 700;
        margin-left: 3rem;
        font-size:0.8rem;
    }
    &__description{

    }
}